@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;600&display=swap');

:root {
  --gradient-1: linear-gradient(to right, #e42564, #fa6259, #e42564);
  --gradient-2: linear-gradient(to right top, #ec606c, #ee6362, #ee6757, #ed6c4d, #eb7242);
  --gradient-3: linear-gradient(to right, #ec606c, #ee6362, #ee6757, #ed6c4d, #eb7242);
  --gradient-4: linear-gradient(to right, #556fff, #556fff, #e05fc4, #f767a6, #ff798e);
  --head-bg: #ffffff;
  --title-color: #232323;
  --text-color: #828282;
  --link-color: #2C4BFF;
  --icon-color: #232323;
  --white-color: #ffffff;
  --blue-color: #374162;
  --blue-color-200: #0061EB;
  --blue-color-100: #1972F5;
  --line-color: rgba(0, 0, 0, 0.08);

  --head-height: 80px;

  --roboto-font: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --poppins-font: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Standar element */
::selection {
  color: var(--white-color);
  background: var(--link-color)
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  font-weight: 700;
  font-family: var(--poppins-font);
  color: var(--title-color)
}

h1, .h1 {
  font-size: 1.7rem
}

h2, .h2 {
  font-size: 1.6rem
}

h3, .h3 {
  font-size: 1.4rem
}

h4, .h4 {
  font-size: 1.2rem
}

h5, .h5 {
  font-size: 1.1rem
}

h6, .h6 {
  font-size: 1rem
}

a {
  color: var(--link-color);
  text-decoration: none
}

a:hover {
  opacity: .7;
  transition: opacity .15s
}

table {
  border-spacing: 0
}

iframe {
  max-width: 100%;
  border: 0;
  margin-left: auto;
  margin-right: auto
}

input, button, select, textarea {
  font: inherit;
  font-size: 100%;
  color: inherit;
  line-height: normal;
  vertical-align: baseline
}

img {
  display: block;
  position: relative;
  max-width: 100%;
  height: auto
}

figure {
  margin: 20px auto;
  text-align: center
}

svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color)
}

svg.line, svg .line {
  fill: none !important;
  stroke: var(--icon-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1
}

.hidden, .replaced {
  display: none
}

.invisible {
  visibility: hidden
}

.clear {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  clear: both
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transition: .1s ease;
  background: transparent;
  opacity: 0;
  visibility: hidden
}

.btn {
  display: inline-block;
  width: auto;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: var(--poppins-font);
  font-weight: 500;
}

.btn.primary-1 {
  background: var(--gradient-1);
  color: var(--white-color);
  background-size: 200% auto;
}

.btn.primary-2 {
  background: var(--gradient-2);
  color: var(--white-color);
}

/* Main Element */
html {
  scroll-behavior: smooth;
  overflow-x: hidden
}

body {
  position: relative;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  font-family: var(--roboto-font);
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--body-bg);
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  transition: .1s ease
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px
}

/* Scrollbar reset */
@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/* Header section */
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 35px;
  background-color: var(--head-bg);
  transition: .2s ease;
  z-index: 20;
}

.header-wrap nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: var(--head-height);
}

.header-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar-title {
  margin-right: auto;
}

.navbar-title img {
  max-height: 35px;
}

.navbar-menu ul li {
  position: relative;
}

.navbar-menu ul li:first-child .link {
  margin-left: 0;
}

.navbar-menu ul li:last-child .link {
  margin-right: 0;
}

.navbar-menu .link svg {
  display: none;
}

.navbar-menu .link {
  display: block;
  font-size: 14px;
  font-family: var(--poppins-font);
  font-weight: 500;
  color: var(--title-color);
  line-height: 1.8rem;
  padding: 25px 0;
  margin: 0 18px;
}

.navbar-menu .link:hover {
  opacity: 1;
  color: var(--text-color)
}

.navbar-cta {
  padding-left: 32px;
}

.navbar-cta .btn {
  font-size: 10px;
  padding: 6px 16px;
}

.navbar-hamburger {
  display: none;
}

/* Home section */
.home-section {
  position: relative;
  background-image: url(../img/main3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 160px 0;
  overflow: hidden;
}

.home-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 720px;
  margin: 0 -15px;
}

.home-content {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.home-subtitle {
  font-size: clamp(1.25rem, 8vh, 1.5rem);
  font-weight: 600;
  color: var(--white-color);
  line-height: 2.2rem;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}

.home-title {
  font-size: clamp(2.7rem, 8vw, 3.4rem);
  font-weight: 700;
  line-height: 3.7rem;
  color: var(--white-color);
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.home-service ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home-service li {
  display: flex;
  align-items: center;
  font-weight: 300;
  color: var(--white-color);
  font-size: 15px;
  line-height: 1.9rem;
}

.home-service svg {
  stroke: var(--white-color);
  margin-right: 5px;
}

.home-cta {
  margin-top: 10px;
}

.home-cta a {
  font-size: 14px;
  padding: 16px 40px;
}

/* Service section */
.service-section {
  text-align: center;
  padding: 25px 0 8%;
  overflow: hidden;
  border-bottom: 1px solid var(--line-color);
}

.service-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -15px 7rem -15px;
}

.service-title h2 {
  font-size: clamp(1.5rem, 8vw, 2rem);
  font-weight: 500;
  color: var(--blue-color);
  padding: 0 15px;
}

.service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}

.service-card {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.service-card-inner {
  position: relative;
  display: block;
  padding: 45px 25px 0;
  z-index: 1;
}

.service-card-line {
  position: absolute;
  top: 28px;
  left: -15px;
  display: block;
  width: calc(100% + 30px);
  height: 1px;
  background-color: var(--line-color);
}

.service-card-num {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 36px;
  height: 36px;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  line-height: 38px;
  color: var(--white-color);
  margin-bottom: 0;
  margin-left: -18px;
  z-index: 1;
}

.service-card-num span {
  position: absolute;
  left: 50%;
  border-radius: 50%;
  opacity: 1;
  z-index: -1;
}

.service-card-num span:nth-child(1) {
  top: -17px;
  width: 72px;
  height: 72px;
  background-color: #ffded8;
  margin-left: -36px;
}

.service-card-num span:nth-child(2) {
  top: -9px;
  width: 56px;
  height: 56px;
  background: var(--gradient-2);
  margin-left: -28px;
}

.service-card-content {
  padding-top: 50px;
  font-size: 15px;
}

.service-card-title {
  font-weight: 500;
  color: var(--blue-color);
  margin-bottom: 10px;
}

.service-card-desc {
  line-height: 1.8rem;
}

/* Offer section */
.offer-section {
  padding: 130px 0;
  overflow: hidden;
}

.offer-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -15px;
}

.offer-inner>* {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}

.offer-content {
  text-align: center;
}

.offer-subtitle h3 {
  font-size: 15px;
  font-weight: 600;
  background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.offer-title h2 {
  font-size: calc(1.5rem, 8vh, 2rem);
  font-weight: 500;
  color: var(--blue-color);
  margin-bottom: 25px;
  letter-spacing: -0.5px;
}

.offer-desc p {
  font-size: 15px;
  margin: 0 0 25px;
  line-height: 1.8rem;
}

.offer-cta a {
  font-size: 13px;
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: var(--white-color);
  padding: 12px 32px;
  margin-top: 15px;
}

/* Location section */
.location-section {
  padding: 60px 0;
  background-color: #f7f7f7;
  overflow: hidden;
}

.location-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.location-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 25px;
}

.location-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
}

.location-card {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.location-card-inner {
  height: 100%;
  padding: 2rem;
  background-color: var(--white-color);
  box-shadow: 0 0 30px var(--line-color);
}

.location-card-title h3 {
  font-size: 1.4rem;
  font-family: var(--roboto-font);
  font-weight: 400;
  margin-top: 20px;
}

.location-card-desc {
  border-bottom: 1px solid var(--line-color);
}

.location-card-desc p {
  margin: 1rem 0;
  font-size: 15px;
  line-height: 1.8rem;
}

.location-card-cta .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  color: var(--title-color);
  margin: 20px 0 0;
}

.location-card-cta svg {
  stroke: var(--title-color)
}

/* Testimonial section */
.testimoni-section {
  padding: 130px 0;
  overflow: hidden;
}

.testimoni-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.testimoni-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimoni-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.testimoni-item {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 8rem 5rem 4.5rem;
  background-color: var(--head-bg);
  border-radius: 6px;
}

.testimoni-msg p {
  line-height: 1.8rem;
  margin: 0;
  margin-bottom: 30px;
}

.testimoni-name span {
  font-weight: 600;
  background: var(--gradient-4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-container {
  position: relative;
  width: 100%;
  padding: 7rem 0 60px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}

.swiper-horizontal.swiper-3d .swiper-slide-shadow-left, .swiper-horizontal.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide {
  opacity: 0.7;
}

.swiper-slide-active {
  opacity: 1;
}

/* Parallax section */
.parax-section {
  position: relative;
  padding: 130px 0;
  background-image: url(../img/m3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% top;
  overflow: hidden;
}

.parax-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f232c;
  opacity: .75;
}

.parax-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;
}

.parax-title h2 {
  font-size: clamp(1.8rem, 8vh, 2.5rem);
  font-weight: 600;
  color: var(--white-color);
}

.parax-cta a {
  font-size: 13px;
  padding: 12px 32px;
}

/* Contact section */
.contact-section {
  padding: 130px 0;
  overflow: hidden;
}

.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
}

.contact-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 25px;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px;
}

.contact-content>* {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.contact-email, .contact-info {
  padding: 50px 60px;
  background-color: #f7f7f7;
}

.contact-email form {
  position: relative;
  width: 100%;
  font-size: 14px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 40px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: var(--title-color);
}

.form-group textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
  padding: 40px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: var(--title-color);
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--title-color)
}

.form-group input::placeholder, .form-group textarea::placeholder {
  opacity: .7;
}

.form-group input:focus, .form-group textarea:focus {
  border: 1px solid var(--blue-color-200)
}

.form-group input:focus+label, .form-group textarea:focus+label {
  color: var(--blue-color-200)
}

.contact-email button {
  display: inline-block;
  width: 100%;
  padding: 12px 16px;
  font-weight: 500;
  text-align: center;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--blue-color-200);
  color: var(--white-color);
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.contact-info ul li {
  display: flex;
  align-items: center;
}

.contact-info ul li:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info svg {
  margin-right: 8px;
}

.contact-info .link {
  display: flex;
  align-items: center;
  color: var(--text-color)
}

.contact-info .link:hover {
  opacity: 1;
  color: var(--link-color)
}

/* Chat button */
.chat-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--blue-color-200);
  border-radius: 50%;
  z-index: 30;
}

.chat-button svg {
  width: 30px;
  height: 30px;
  fill: var(--white-color);
}

/* Footer section */
.footer-credit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid var(--line-color);
  font-size: 14px;
}

.footer-credit a {
  color: var(--text-color)
}

/* Responsive */
@media screen and (max-width: 1199px) {
  .home-section {
    padding: 120px 0;
  }

  .home-inner {
    height: 550px;
  }

  .offer-section, .location-section, .parax-section {
    padding: 90px 0;
  }

  .parax-section {
    background-attachment: inherit;
    background-position: center;
  }
}

@media screen and (max-width: 991px) {
  .header-wrap {
    padding: 0 15px;
  }

  .navbar-menu {
    position: absolute;
    top: calc(var(--head-height) - 1px);
    left: 0;
    right: 0;
    width: 100%;
    max-height: 0vh;
    background-color: var(--head-bg);
    box-shadow: 0 20px 15px 0 rgb(23 23 23 / 5%);
    visibility: hidden;
    overflow: hidden;
    transition: .3s ease;
    z-index: 10;
  }

  .navbar-menu ul {
    display: block;
    padding: 15px 15px 25px;
  }

  .navbar-menu .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px;
    margin: 0;
    font-size: 15px;
    color: #000000;
  }

  .navbar-menu .link svg {
    display: block;
    width: 18px;
    height: 18px;
    stroke-width: 2px;
    transition: .2s ease;
  }

  .navbar-dropdown {
    padding: 0 0 0 20px !important;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: .2s ease;
  }

  .navbar-dropdown .link {
    font-size: 13px;
  }

  .dropdown:checked ~ .navbar-dropdown {
    max-height: 100vh;
    visibility: visible;
  }

  .dropdown:checked ~ .link svg {
    transform: rotate(-180deg);
  }

  .navbar-hamburger {
    display: flex;
    padding: 0 0 0 15px;
  }

  .navbar-hamburger label {
    position: relative;
    display: flex;
    justify-content: center;
    width: 22px;
    height: 14px;
    margin: 30px 0 28px 10px;
    vertical-align: middle;
  }

  .navbar-hamburger span {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--icon-color);
    margin: 0 auto;
    opacity: 1;
    visibility: visible;
    transform: rotate(0deg);
    transition: .3s ease;
  }

  .navbar-hamburger span:nth-child(1) {
    top: 0;
    width: 18px;
  }

  .navbar-hamburger span:nth-child(2), .navbar-hamburger span:nth-child(3) {
    top: 6px;
  }

  .navbar-hamburger span:nth-child(4) {
    bottom: 0;
    width: 18px;
  }

  .off-navmenu:checked ~ .container .navbar-menu {
    max-height: calc(100vh - 65px);
    visibility: visible;
  }

  .off-navmenu:checked ~ .container .navbar-hamburger span:nth-child(1) {
    top: 6px;
    opacity: 0;
    visibility: hidden;
  }

  .off-navmenu:checked ~ .container .navbar-hamburger span:nth-child(2) {
    transform: rotate(45deg);
  }

  .off-navmenu:checked ~ .container .navbar-hamburger span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .off-navmenu:checked ~ .container .navbar-hamburger span:nth-child(4) {
    bottom: 6px;
    opacity: 0;
    visibility: hidden;
  }

  .off-navmenu:checked ~ .container .navbar-cover {
    opacity: 1;
    visibility: visible;
  }

  .home-section {
    padding: 95px 0;
  }

  .home-inner {
    height: 550px;
  }

  .service-title {
    margin-bottom: 6rem;
  }

  .offer-section, .location-section, .parax-section {
    padding: 75px 0;
  }

  .offer-img img {
    padding-right: 30px;
  }

  .testimoni-item {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .parax-inner {
    text-align: center;
    justify-content: center;
  }

  .parax-title h2 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .home-section {
    padding: 80px 0;
  }

  .home-content {
    margin-bottom: 40px;
  }

  .service-title {
    margin-bottom: 4rem;
  }

  .offer-section, .location-section, .parax-section {
    padding: 50px 0;
  }

  .offer-img {
    margin-bottom: 30px;
  }

  .testimoni-item {
    padding-top: 6rem;
  }

  .swiper-container {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .home-section {
    padding: 50px 0;
  }

  .home-inner {
    height: 750px;
  }

  .offer-img img {
    padding: 0;
  }

  .contact-email {
    padding: 40px 20px;
  }

  .contact-info {
    padding: 40px;
  }
}

@media screen and (min-width: 576px) {
  section .container {
    max-width: 540px;
  }

  .service-card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .navbar-cta {
    display: inline-block;
  }

  section .container {
    max-width: 720px;
  }

  .home-content {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .offer-inner>* {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .offer-content {
    text-align: left;
  }

  .location-card {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .swiper-slide-active .testimoni-item {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.17);
  }
}

@media screen and (min-width: 992px) {
  .navbar-dropdown {
    position: absolute;
    top: calc(var(--head-height) - 2px);
    display: block !important;
    min-width: 240px;
    max-height: 0;
    background-color: var(--head-bg);
    padding: 25px 0 !important;
    border-radius: 4px;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    visibility: hidden;
    overflow: hidden;
    transition: .2s ease;
    z-index: 1;
  }
  
  .navbar-dropdown .link {
    padding: 9px 45px 9px 35px;
    font-size: 13px;
    color: var(--text-color);
    margin: 0
  }
  
  .navbar-dropdown .link:hover {
    color: var(--title-color)
  }
  
  .navbar-menu ul li:hover .navbar-dropdown {
    max-height: 100vh;
    visibility: visible;
  }

  section .container {
    max-width: 960px;
  }

  .service-card {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .offer-content {
    flex: 0 0 41.666667%;
    width: 41.666667%;
  }

  .offer-content {
    padding-left: 0;
    margin-left: 8.333333%;
  }

  .location-card {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .contact-email {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .contact-info {
    flex: 0 0 38%;
    max-width: 38%;
  }
}

@media screen and (min-width: 1200px) {
  section .container {
    max-width: 1140px;
  }

  .home-content {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .offer-content {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media screen and (min-width: 1199px) {
  section .container {
    max-width: 1170px;
  }
}